@using QuickBank.Core.Application.ViewModels.Payments
@{
    ViewData["Title"] = "Make Express Payment";

    // <i class="bi bi-exclamation-octagon-fill"></i>

}
@model ExpressPaySaveViewModel

<div class="container-fluid">
    <div class="card shadow col-5 offset-4">
        <div class="card-header bg-danger">
            <h1 class="text-center text-light">EXPRESS PAYMENT</h1>
        </div>
        <div class="card-body">
            <form method="post" asp-controller="Pay" asp-action="ExpressPay">
                <div class="mb-3">
                    <label asp-for="NumberAccountToPay" class="form-label">Account number to credit </label>
                    <input asp-for="NumberAccountToPay" class="form-control" maxlength="9">
                    @Html.ValidationMessage("InvalidNumberAccountNull", "", new { @class = "text-danger" })
                    @Html.ValidationMessage("InvalidNumberCharacters", "", new { @class = "text-danger" })
                    @Html.ValidationMessage("InvalidNumberAccount", "", new { @class = "text-danger" })
                    @Html.ValidationMessage("InvalidSavingAccount", "", new { @class = "text-danger" })
                </div>

                <div class="mb-3">
                    <label asp-for="Amount" class="form-label">Amount </label>
                    <input asp-for="Amount" class="form-control" type="number" step="any">
                    @Html.ValidationMessage("InvalidAmountNull", "", new { @class = "text-danger" })
                    @Html.ValidationMessage("InvalidAmount", "", new { @class = "text-danger" })
                </div>

                <div class="mb-3">
                    <label asp-for="AccountIdFromPay" class="form-label">Account to be debited</label>
                    <select asp-for="AccountIdFromPay" asp-items="@(new SelectList(Model.Accounts,"Id","AccountNumber"))" class="form-control">
                        <option value="0">Select an option</option>
                    </select>
                    @Html.ValidationMessage("InvalidSavingAccountFromPayNull", "", new { @class = "text-danger" })
                    @Html.ValidationMessage("InvalidBalance", "", new { @class = "text-danger" })
                </div>

                @* Load the necesary data for the accounts *@
                @for (int i = 0; i < Model.Accounts.Count; i++)
                {
                    <input type="hidden" asp-for="@Model.Accounts[i].Id" />
                    <input type="hidden" asp-for="@Model.Accounts[i].AccountNumber" />
                }

                <div class="input-group">
                    <a asp-controller="Home" asp-action="BasicHome" class="btn btn-warning">cancel</a>
                    <button type="submit" class="btn btn-primary">pay</button>
                </div>

            </form>
        </div>
    </div>
</div>