@using QuickBank.Core.Application.Interfaces.Helpers;
@using QuickBank.Core.Application.ViewModels.Products;

@inject IUserHelper userHelper

@model HomeAdminViewModel;
@{
    ViewData["Title"] = "Admin Home";
    string notificationFromRedirectioned = ViewBag.NotificationFromRedirectioned as string;
    // Current user logged
    var user = userHelper.GetUser();
}


@if (!string.IsNullOrEmpty(notificationFromRedirectioned))
{
    <div class="alert alert-info">@notificationFromRedirectioned</div>
}


<div class="container-fluid">
    <h1>Dashboard</h1>

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="card mb-4">
                    <div class="card-header bg-primary text-white">
                        <h3>Transacciones</h3>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-4"><strong>Título</strong></div>
                            <div class="col-md-4"><strong>Total</strong></div>
                            <div class="col-md-4"><strong>Diarias</strong></div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">Transacciones</div>
                            <div class="col-md-4">@Model.TransferLogs</div>
                            <div class="col-md-4">@Model.DailyTransferLogs</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="card mb-4">
                    <div class="card-header bg-success text-white">
                        <h3>Pagos</h3>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-4"><strong>Título</strong></div>
                            <div class="col-md-4"><strong>Total</strong></div>
                            <div class="col-md-4"><strong>Diarias</strong></div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">Pagos</div>
                            <div class="col-md-4">@Model.PayLogs</div>
                            <div class="col-md-4">@Model.DailyPayLogs</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="card mb-4">
                    <div class="card-header bg-info text-white">
                        <h3>Clientes</h3>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-4"><strong>Título</strong></div>
                            <div class="col-md-4"><strong>Activos</strong></div>
                            <div class="col-md-4"><strong>Inactivos</strong></div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">Clientes</div>
                            <div class="col-md-4">@Model.UsersActive</div>
                            <div class="col-md-4">@Model.UsersInactive</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="card mb-4">
                    <div class="card-header bg-warning text-white">
                        <h3>Productos</h3>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-4"><strong>Título</strong></div>
                            <div class="col-md-4"><strong>Asignados</strong></div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">Productos</div>
                            <div class="col-md-4">@Model.ProductsAssigned</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>