@model QuickBank.Core.Application.ViewModels.Products.HomeBasicViewModel
@using QuickBank.Core.Application.Interfaces.Helpers
@inject IUserHelper userHelper

@{
    ViewData["Title"] = "Basic Home";
    // Current user logged
    var user = userHelper.GetUser();
}

<h2>Bienvenido, @user.FirstName @user.LastName</h2>

<div class="products">

    <h3>Tus Cuentas de Ahorro</h3>

    @if (Model.SavingAccounts != null && Model.SavingAccounts.Count != 0)
    {
        <table class="table shadow mb-2 rounded-3">
            <thead>
                <tr>
                    <th>Número de Cuenta</th>
                    <th>Balance</th>
                    <th>Estado</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var account in Model.SavingAccounts)
                {
                    <tr>
                        <td>@account.AccountNumber</td>
                        <td>@account.Balance</td>
                        <td>@(account.Status == 1 ? "Activo" : "Inactivo")</td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>No tienes cuentas de ahorro.</p>
    }
</div>

<h3>Tus Tarjetas de Crédito</h3>

@if (Model.CreditCards != null && Model.CreditCards.Count != 0)
{
    <table class="table shadow mb-2 rounded-3">
        <thead>
            <tr>
                <th>Número de Tarjeta</th>
                <th>Deuda</th>
                <th>Límite de Crédito</th>
                <th>Fecha de Expiración</th>
                <th>Estado</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var card in Model.CreditCards)
            {
                <tr>
                    <td>@card.CardNumber</td>
                    <td>@card.Balance.ToString("C")</td>
                    <td>@card.LimitCredit.ToString("C")</td>
                    <td>@card.ExpirationDate.ToString("dd/MM/yyyy")</td>
                    <td>@(card.Status == 1 ? "Activo" : "Inactivo")</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>No tienes tarjetas de crédito.</p>
}
 
<h3>Tus Préstamos</h3>

@if (Model.Loans != null && Model.Loans.Count != 0)
{
    <table class="table shadow mb-2 rounded-3">
        <thead>
            <tr>
                <th>Número de Préstamo</th>
                <th>Deuda</th>
                <th>Fecha de Vencimiento</th>
                <th>Tasa de Interés</th>
                <th>Descripción</th>
                <th>Estado</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var loan in Model.Loans)
            {
                <tr>
                    <td>@loan.LoanNumber</td>
                    <td>@loan.Amount.ToString("C")</td>
                    <td>@loan.Deadline.ToString("dd/MM/yyyy")</td>
                    <td>@loan.InterestRate.ToString("P")</td>
                    <td>@loan.Description</td>
                    <td>@(loan.Status == 1 ? "Activo" : "Inactivo")</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>No tienes préstamos.</p>
}
</div>


<!-- Botón para abrir el modal -->
<button type="button" id="openModalBtn" data-bs-toggle="modal" data-bs-target="#errorModal" hidden> a</button>

<!-- Modal -->
<div class="modal fade" id="errorModal" tabindex="-1" aria-labelledby="errorModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-danger text-white">
                <h5 class="modal-title fw-bold" id="errorModalLabel">Error</h5>
                <button type="button" class="close-button" data-bs-dismiss="modal" aria-label="Close">x</button>
            </div>
            <div class="modal-body text-center">
                <i class="bi bi-x-octagon-fill fa-3x" style="color: red;"></i>
                <p class="mt-3 fw-light" style="color: red; font-size: 1.25rem;">You cannot perform this action</p>
            </div>
        </div>
    </div>
</div>


<style>
    .close-button {
        background-color: #dc3545;
        border: none;
        color: white;
        font-size: 2rem;
    }

    .modal-header.bg-danger {
        background-color: #dc3545;
    }

    .modal-body i {
        color: red;
    }

    .modal-body p {
        color: red;
        font-size: 1.25rem;
    }
</style>


<script>
    document.addEventListener("DOMContentLoaded", function () {
        // Simular clic en el botón al cargar la página
        var openModalBtn = document.getElementById("openModalBtn");

    @if (ViewBag.LoginAccessDenied as bool? ?? false)
    {
        <text>openModalBtn.click(); </text>
    }

        });
</script>