@using QuickBank.Core.Application.ViewModels.Facilities
@{
    ViewData["Title"] = "Make Cash Advance";
}
@model CashAdvancesSaveViewModel

<div class="container-fluid">
    <div class="card shadow col-5 offset-4">
        <div class="card-header bg-secondary">
            <h1 class="text-center text-light">CASH ADVANCE</h1>
        </div>
        <div class="card-body">
            <form method="post" asp-controller="Facility" asp-action="CashAdvance">
                <div class="mb-3">
                    <label asp-for="CreditCardId" class="form-label">Credit Card to be debited</label>
                    <select asp-for="CreditCardId" asp-items="@(new SelectList(Model.CreditCards,"Id","CardNumber"))" class="form-control">
                        <option value="0">Select an option</option>
                    </select>
                    @Html.ValidationMessage("InvalidCreditCardIdOption", "", new { @class = "text-danger" })
                    @Html.ValidationMessage("InvalidBalance", "", new { @class = "text-danger" })
                </div>

                <div class="mb-3">
                    <label asp-for="SavingAccountId" class="form-label">Account to be credited</label>
                    <select asp-for="SavingAccountId" asp-items="@(new SelectList(Model.SavingAccounts,"Id","AccountNumber"))" class="form-control">
                        <option value="0">Select an option</option>
                    </select>
                    @Html.ValidationMessage("InvalidSavingAccountIdOption", "", new { @class = "text-danger" })
                </div>

                <div class="mb-3">
                    <label asp-for="Amount" class="form-label">Amount</label>
                    <input asp-for="Amount" class="form-control" type="number" step="any">
                    @Html.ValidationMessage("InvalidAmountNull", "", new { @class = "text-danger" })
                    @Html.ValidationMessage("InvalidAmount", "", new { @class = "text-danger" })
                </div>


                @* Load the necesary data for the saving accounts *@
                @if (Model.SavingAccounts.Count == 0)
                {
                    <input type="hidden" asp-for="@Model.SavingAccounts" />
                }
                @for (int i = 0; i < Model.SavingAccounts.Count; i++)
                {
                    <input type="hidden" asp-for="@Model.SavingAccounts[i].Id" />
                    <input type="hidden" asp-for="@Model.SavingAccounts[i].AccountNumber" />
                }

                @* Load the necesary data for the credit cards *@
                @if (Model.CreditCards.Count == 0)
                {
                    <input type="hidden" asp-for="@Model.CreditCards" />
                }
                @for (int i = 0; i < Model.CreditCards.Count; i++)
                {
                    <input type="hidden" asp-for="@Model.CreditCards[i].Id" />
                    <input type="hidden" asp-for="@Model.CreditCards[i].CardNumber" />
                }

                <div class="input-group">
                    <a asp-controller="Home" asp-action="BasicHome" class="btn btn-warning">cancel</a>
                    <button type="submit" class="btn btn-primary">pay</button>
                </div>

            </form>
        </div>
    </div>
</div>