@using QuickBank.Core.Application.ViewModels.Products;
@using QuickBank.Core.Application.Enums;
@model LoanViewModel;

<div class="container-fluid">
    <div class="shadow col-6 offset-4 p-3">
        <h2 class="text-center fw-bold ">@(Model.Amount>0 ? "No puedes este prestamo porque restas dinero todavia ":"Estas seguro de eliminareste prestamo?")</h2>
        <h4 class="text-center fw-light"> Prestamo: @Model.LoanNumber</h4>
        <h4 class="text-center fw-light"> Descripcion: @Model.Description</h4>


        <div class="mt-3">
            <div class="input-group">
                <a asp-controller="AdministrationUser" asp-route-ownerId="@Model.UserId" asp-action="UserProducts" class="btn btn-warning">cancel</a>
                @if(Model.Amount<=0){
                    <a asp-controller="AdministrationUser" asp-route-id="@Model.Id" asp-action="DeleteLoanPost" class="btn btn-primary">confirm</a>
                }
            </div>
        </div>
    </div>
</div>