@using QuickBank.Core.Application.ViewModels.Products;
@using QuickBank.Core.Application.Enums;
@model CreditCardViewModel;

<div class="container-fluid">
    <div class="shadow col-6 offset-3 p-3">
        <h2 class="text-center fw-bold ">@(Model.Balance > 0 ? "No puedes esta tarjeta porque restas dinero" : "Estas seguro de eliminar esta tarjeta?")</h2>
        <h4 class="text-center fw-light"> Tarjeta: @Model.CardNumber</h4>
        <h4 class="text-center fw-light"> limite: @Model.LimitCredit</h4>
        <h4 class="text-center fw-light"> Deuda: @Model.Balance</h4>



        <div class="mt-3">
            <div class="input-group">
                <a asp-controller="AdministrationUser" asp-route-ownerId="@Model.OwnerId" asp-action="UserProducts" class="btn btn-warning">cancel</a>
                @if (Model.Balance <= 0)
                {
                    <a asp-controller="AdministrationUser" asp-route-id="@Model.Id" asp-action="DeleteCreditCardPost" class="btn btn-primary">confirm</a>
                }
            </div>
        </div>
    </div>
</div>