@using QuickBank.Core.Application.ViewModels.Products;
@using QuickBank.Core.Application.ViewModels.User;
@using QuickBank.Core.Application.Enums;
@using QuickBank.Core.Application.Interfaces.Helpers;
@inject IUserHelper userHelper;

@model List<UserViewModel>
@{
    ViewData["Title"] = "Users Page";
    var userLoged = userHelper.GetUser();
}

<div class="container">
    <div class="row mb-3 mt-4">
        <div class="d-flex gap-2 p-0">
            <div class="rounded-3 bg-primary p-1 flex-grow-1">
                <h1 class="fw-bold text-light m-0 p-0 ms-4">User List</h1>
            </div>
            <a asp-controller="AdministrationUser" asp-action="Add" class="btn btn-success text-light d-flex align-items-center"><i class="bi bi-plus"></i>Add User</a>
        </div>
    </div>

    <div class="row">
        @if (Model == null || Model.Count == 0)
        {
            <h3>No hay Usuarios</h3>
        }
        else
        {
            <div class="col p-0">
                <div class="card border-0">
                    <div class="card-body">
                        <table id="usersTable" class="table">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>User Type</th>
                                    <th>Status</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@item.FirstName @item.LastName</td>
                                        <td>
                                            @foreach (var role in item.Roles)
                                            {
                                                <span class=" @(item.Roles[0] == ERoles.BASIC.ToString() ? "bg-warning" : "bg-success text-light") pe-2 ps-2 rounded-3">@role</span>
                                            }
                                        </td>
                                        <td>
                                            <span class=" @(item.Status == (int)EUserStatus.ACTIVE ? "bg-success" : "bg-danger") pe-2 ps-2 rounded-3 text-light">@((EUserStatus)item.Status)</span>
                                        </td>
                                        <td>
                                            @if (item.Id != userLoged.Id)
                                            {
                                                <a asp-controller="AdministrationUser" asp-route-id="@item.Id" asp-action="ChangeUserState" class="btn col-3 me-2 @(item.Status ==(int)EUserStatus.ACTIVE ? "btn-danger" : "btn-success")">
                                                    @(item.Status == (int)EUserStatus.ACTIVE ? "deactivate" : "activate")
                                                </a>
                                                <a asp-controller="AdministrationUser" asp-route-id="@item.Id" asp-action="Edit" class="btn btn-primary me-2">Edit</a>
                                                @if (item.Roles[0] == ERoles.BASIC.ToString())
                                                {
                                                    <a asp-controller="AdministrationUser" asp-route-ownerId="@item.Id" asp-action="UserProducts" class="btn btn-primary">go to products</a>
                                                }
                                            }
                                            else
                                            {
                                                <p class="fw-bold d-flex align-items-center m-0 p-0"><i class="bi bi-x text-danger fa-2x"></i>You can't updated your own account<i class="bi bi-x text-danger fa-2x"></i></p>
                                            }
                                        </td>
                                                
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

@section Scripts {
        <script type="text/javascript" >
            $(document).ready(function () {
                $('#usersTable').DataTable({
                    language: {
                        "decimal": "",
                        "emptyTable": "No hay información",
                        "info": "Mostrando _START_ a _END_ de _TOTAL_ Entradas",
                        "infoEmpty": "Show 0 a 0 de 0 entries",
                        "infoFiltered": "(filtrado de _MAX_ entradas totales)",
                        "infoPostFix": "",
                        "thousands": ",",
                        "lengthMenu": "Show _MENU_ Entries",
                        "loadingRecords": "charging...",
                        "processing": "procesing...",
                        "search": "Search:",
                        "zeroRecords": "Without Resutls",
                        "paginate": {
                            "first": "First",
                            "last": "Last",
                            "next": "Next",
                            "previous": "previous"
                        }
                    }
                });
                console.log("Vista cargada y DataTable inicializado.");
            });
    </script>
}

<style>
    .card {
        transition: box-shadow 0.3s ease;
    }

    .card:hover {
        box-shadow: 0 0 15px rgba(0,0,0,0.1);
    }
</style>