@using QuickBank.Core.Application.ViewModels.Products;
@using QuickBank.Core.Application.ViewModels.User;
@using QuickBank.Core.Application.Enums;
@using QuickBank.Core.Application.Interfaces.Helpers;
@inject IUserHelper userHelper;

@model List<UserViewModel>
@{
    ViewData["Title"] = "Users Page";
    var userLoged = userHelper.GetUser();
}

<div class="container-fluid">
    <div class="row mb-3">
        
    </div>
    <div class="row">

        <div class="col-10 offset-1">
            <div class="row">

                @if (Model == null || Model.Count == 0)
                {
                    <h3>No hay Usuarios</h3>
                }
                else
                {
                    <div class="col-12">
                        <div class="card">
                            <div class=" card-header d-flex justify-content-between me-0 pe-0  bg-primary ">
                                <div class="col-4">
                                    <h3 class="text-white">Listado de usuarios</h3>
                                </div>
                                <div class="pe-3">
                                    <a asp-controller="AdministrationUser" asp-action="Add" class="btn btn-light text-primary"><i class="bi bi-plus">Add User</i></a>
                                </div>
                            </div>
                            <div class="card-body">
                                @Html.ValidationMessage("ArentAvailableSavingsAccounts", "", new { @class = "text-danger" })
                                @Html.ValidationMessage("ArentAvailableLoans", "", new { @class = "text-danger" })
                                @Html.ValidationMessage("ArentAvailableCreditCards", "", new { @class = "text-danger" })

                                <table id="usersTable" class="table ">
                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>User Type</th>
                                            <th>Status</th>
                                            <th>Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                            <tr>
                                                <td>@item.FirstName @item.LastName</td>
                                                <td>
                                                    @foreach (var role in item.Roles)
                                                    {
                                                        <span class=" @(item.Roles[0] == ERoles.BASIC.ToString() ? "badge-warning" : "badge-success")">@role</span>
                                                    }
                                                </td>
                                                <td>
                                                    @(item.Status == (int)EUserStatus.ACTIVE ? "Activo" : "Inactivo")
                                                </td>
                                                <td>
                                                    @if (item.Id != userLoged.Id)
                                                    {
                                                        <div class="">

                                                        <a asp-controller="AdministrationUser" asp-route-id="@item.Id" asp-action="ChangeUserState" class="btn col-3 @(item.Status ==(int)EUserStatus.ACTIVE ? "btn-danger" : "btn-success")">
                                                            @(item.Status == (int)EUserStatus.ACTIVE ? "Inactivar" : "Activar")
                                                        </a>
                                                        <a asp-controller="AdministrationUser" asp-route-id="@item.Id" asp-action="Edit" class="btn btn-primary">Edit</a>
                                                        @if (item.Roles[0] == ERoles.BASIC.ToString())
                                                        {
                                                            <a asp-controller="AdministrationUser" asp-route-ownerId="@item.Id" asp-action="UserProducts" class="btn btn-primary">Ver productos</a>
                                                        }
                                                        </div>

                                                    }
                                                    else
                                                    {
                                                        <p>You can't updated your own accoun'</p>
                                                    }
                                                </td>
                                                
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

@* Incluir las bibliotecas de DataTables y jQuery *@
@section Scripts {
        <script type="text/javascript" >
            $(document).ready(function () {
                $('#usersTable').DataTable({
                    language: {
                        "decimal": "",
                        "emptyTable": "No hay información",
                        "info": "Mostrando _START_ a _END_ de _TOTAL_ Entradas",
                        "infoEmpty": "Show 0 a 0 de 0 entries",
                        "infoFiltered": "(filtrado de _MAX_ entradas totales)",
                        "infoPostFix": "",
                        "thousands": ",",
                        "lengthMenu": "Show _MENU_ Entries",
                        "loadingRecords": "charging...",
                        "processing": "procesing...",
                        "search": "Search:",
                        "zeroRecords": "Without Resutls",
                        "paginate": {
                            "first": "First",
                            "last": "Last",
                            "next": "Next",
                            "previous": "previous"
                        }
                    }
                });
                console.log("Vista cargada y DataTable inicializado.");
            });
    </script>
}
