@using QuickBank.Core.Application.ViewModels.Products;
@using QuickBank.Core.Application.ViewModels.User;

@model List<UserViewModel>
@{
    ViewData["Title"] = "Users Page";
}

<div class="container-fluid">
    <div class="row mb-3">
        <div class="col-3 offset-9">
            <a asp-controller="AdministrationUser" asp-action="Add" class="btn btn-danger">Agregar User</a>
        </div>
    </div>
    <div class="row">
        <div class="col-3">
            <div class="card shadow-sm">
                <div class="card-header bg-dark text-light">
                    <h3>Filtros</h3>
                </div>
                <div class="card-body">
                    <div class="card-title">
                        <h3 class="card-title"> Categorias</h3>
                        <form method="post" asp-controller="Home" asp-action="Index">
                            <div class="=mb-3">
                                <div class="form-check">
                                    <input class="form-check-input" value="null" type="radio" name="CategoryId" id="category-all" />
                                    <label class="form-check-label" for="category-all">Todas</label>
                                </div>
                            </div>
                            @* @foreach (CategoryViewModel category in ViewBag.Categories)
                            {
                                <div class="=mb-3">
                                    <div class="form-check">
                                        <input class="form-check-input" value="@category.Id" type="radio" name="CategoryId" id="category-@category.Id" />
                                        <label class="form-check-label" for="category-@category.Id">@category.Name</label>
                                    </div>
                                </div>
                            } *@
                            <button type="submit" class="btn btn-primary">Filtrar</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-9">
            <div class="row">

                @if (Model == null || Model.Count == 0)
                {
                    <h3>No hay Usuarios</h3>
                }
                else
                {
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header bg-primary">
                                <h3 class="text-white">Listado de productos</h3>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    @foreach (var item in Model)
                                    {
                                        <div class="col-4 mb-3">
                                            <div class="card shadow-sm">
                                                <div class="card-body">
                                                    <h3>@item.FirstName</h3>
                                                    <p class="card-text">@item.LastName</p>
                                                    <p class="card-text">@item.IdCard</p>
                                                    @foreach(var role in item.Roles)
                                                    {
                                                        <div class="d-flex justify-content-between align-items-center">
                                                            <span class="fw-bold">@role</span>
                                                        </div>
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
