@using QuickBank.Core.Application.ViewModels.Products;
@using QuickBank.Core.Application.ViewModels.User;
@using QuickBank.Core.Application.Enums;
@using QuickBank.Core.Application.Interfaces.Helpers;
@inject IUserHelper userHelper;

@model UserProductsViewModel
@{
    ViewData["Title"] = "UserAccounts Page";
    var userLoged = userHelper.GetUser();
}

<div class="container-fluid">
    <div class="row mb-3">
        <div class="col-3 offset-9">
            <a asp-controller="AdministrationUser" asp-route-id="@Model.OwnerId" asp-action="SetSavingAccount" class="btn btn-danger">Agregar cuenta ahorro</a>
            <a asp-controller="AdministrationUser" asp-route-id="@Model.OwnerId" asp-action="SetLoan" class="btn btn-danger">Agregar prestamo</a>
            <a asp-controller="AdministrationUser" asp-route-id="@Model.OwnerId" asp-action="SetCredictCard" class="btn btn-danger">Agregar tarjeta de credito</a>
        </div>
    </div>
    <div class="row">
        <div class="col-3">
            <div class="card shadow-sm">
                <div class="card-header bg-dark text-light">
                    <h3>Filtros</h3>
                </div>
                <div class="card-body">
                    <div class="card-title">
                        <h3 class="card-title"> Categorias</h3>
                        <form method="post" asp-controller="Home" asp-action="Index">
                            <div class="=mb-3">
                                <div class="form-check">
                                    <input class="form-check-input" value="null" type="radio" name="CategoryId" id="category-all" />
                                    <label class="form-check-label" for="category-all">Todas</label>
                                </div>
                            </div>
                            @* @foreach (CategoryViewModel category in ViewBag.Categories)
                            {
                            <div class="=mb-3">
                            <div class="form-check">
                            <input class="form-check-input" value="@category.Id" type="radio" name="CategoryId" id="category-@category.Id" />
                            <label class="form-check-label" for="category-@category.Id">@category.Name</label>
                            </div>
                            </div>
                            } *@
                            <button type="submit" class="btn btn-primary">Filtrar</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-9">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header bg-primary">
                            <h3 class="text-white">Listado de productos</h3>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <h3>SavingAccounts</h3>
                                @foreach (var item in Model.SavingAccounts)
                                {
                                    <div class="col-4 mb-3">
                                        <a asp-controller="AdministrationUser" asp-route-id="@Model.OwnerId" asp-action="DeleteSavingAccount" class="btn btn-danger">Eliminar</a>
                                        <div class="card shadow-sm">
                                            <div class="container mt-4">
                                                <div class="card mt-4">
                                                    <div class="card-body">
                                                        <div class="mt-3">
                                                            <h5 class="card-subtitle mb-2">Account Information:</h5>
                                                            <p><strong>Account Number:</strong> @item.AccountNumber</p>
                                                            <p><strong>Balance:</strong> @item.Balance.ToString("C")</p>
                                                            <p><strong>Status:</strong> @(item.Status == (int)EUserStatus.ACTIVE ? "Active" : "Inactive")</p>
                                                            <p><strong>Principal Account:</strong> @(item.Principal ? "Yes" : "No")</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                                <h3>Credict cards</h3>
                                @if (Model.CreditCards != null)
                                {
                                    @foreach (var item in Model.CreditCards)
                                    {
                                        <div class="col-4 mb-3">
                                            <a asp-controller="AdministrationUser" asp-route-id="@Model.OwnerId" asp-action="DeleteCredictCard" class="btn btn-danger">Eliminar</a>

                                            <div class="card shadow-sm">
                                                <div class="container mt-4">
                                                    <div class="card mt-4">
                                                        <div class="card-body">
                                                            <div class="mt-3">
                                                                <h5 class="card-subtitle mb-2">credict card Information:</h5>
                                                                <p><strong>Account Number:</strong> @item.CardNumber</p>
                                                                <p><strong>Balance:</strong> @item.LimitCredit</p>
                                                                <p><strong>Balance:</strong> @item.Balance</p>

                                                                <p><strong>Status:</strong> @(item.Status == (int)EUserStatus.ACTIVE ? "Active" : "Inactive")</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                }
                                else
                                {
                                    <p>No tienes prestamos</p>
                                }
                                <h3>Loans</h3>
                                @if (Model.Loans != null)
                                {
                                    @foreach (var item in Model.Loans)
                                    {
                                        <div class="col-4 mb-3">
                                            <a asp-controller="AdministrationUser" asp-route-id="@Model.OwnerId" asp-action="DeleteLoan" class="btn btn-danger">Eliminar</a>
                                            <div class="card shadow-sm">
                                                <div class="container mt-4">
                                                    <div class="card mt-4">
                                                        <div class="card-body">
                                                            <div class="mt-3">
                                                                <h5 class="card-subtitle mb-2">Account Information:</h5>
                                                                <p><strong>Account Number:</strong> @item.LoanNumber</p>
                                                                <p><strong>Balance:</strong> @item.Amount</p>
                                                                <p><strong>Balance:</strong> @item.Deadline</p>
                                                                <p><strong>Balance:</strong> @item.AprovalDate</p>

                                                                <p><strong>Status:</strong> @(item.Status == (int)EUserStatus.ACTIVE ? "Active" : "Inactive")</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                }
                                else
                                {
                                    <p>No tienes prestamos</p>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
