@model QuickBank.Core.Application.ViewModels.Facilities.Benefice.BeneficeSaveViewModel

@{
    ViewData["Title"] = "Agregar Beneficiario";
}

<div class="row">
    <div class="col-6 offset-3">
        <div class="rounded-3 bg-primary p-1 mb-4">
            <h1 class="fw-bold text-light m-0 p-0 ms-4">Add Loan</h1>
        </div>
        <div class="card border-0">
            <div class="card-body">
               
                <form asp-action="AddBenefice" method="post">
                    <div class="form-group mb-3">
                        <label for="NumberAccount">Número de Cuenta</label>
                        <input type="text" class="form-control" id="NumberAccount" name="NumberAccount" />
                    </div>
                    @Html.ValidationMessage("InvalidNumberAccountNull", "", new { @class = "text-danger" })
                    @Html.ValidationMessage("InvalidNumberCharacters", "", new { @class = "text-danger" })
                    @Html.ValidationMessage("InvalidSavingAccountExist", "", new { @class = "text-danger" })
                    @Html.ValidationMessage("InvalidSavingAccountActive", "", new { @class = "text-danger" })
                    @Html.ValidationMessage("InvalidSameAccount", "", new { @class = "text-danger" })
                    @Html.ValidationMessage("InvalidDuplicatedBenefice", "", new { @class = "text-danger" })

                    <div class="d-flex justify-content-end gap-2">
                            <a asp-action="BeneficeHome" class="btn btn-warning">Cancel</a>
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
